body {
  background-color: rgb(24, 23, 23);
  margin: 8rem;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: rgb(234, 231, 235);
}

form {
  background-color: rgb(241, 239, 239);
  margin: 0 auto 0 auto;
  padding: 1rem 2rem;
  width: 50%;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

textarea {
  resize: vertical;
}

input,
textarea,
select {
  margin: 0.5rem 0;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  color: rgb(61, 58, 58);
}

input:focus {
  background-color: rgb(194, 157, 235);
  color: rgb(32, 5, 63);
  border-color: rgb(32, 5, 63);
}

button {
  display: block;
}

button:hover {
  background-color: rgb(52, 14, 95);
  border-color: rgb(52, 14, 95);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}

hr {
  margin: 1rem 0;
}

button {
  margin: 1rem;
}
