body {
  background-color: rgb(75, 74, 74);
  margin: 8rem;
}

input {
  width: 20rem;
  display: block;
  margin-bottom: 1rem;
}

button {
  display: block;
}

button:hover {
  background-color: rgb(52, 14, 95);
  border-color: rgb(52, 14, 95);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}